@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
    padding-top: 90px;
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

/* Bootstrao Overrides*/
.navbar-inverse {
    background-color: #d04212d1;
    border-color: #d04212d1;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgb(197, 99, 66);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
   font-size: 17px;
   padding: 20px 15px;
   border-radius: 7px;
}

.form-control:focus {
    border-color: #d04212d1;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    font-size: 17px;
    padding: 6px 25px;
    border-radius: 7px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgb(197, 99, 66);
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-brand {
    font-weight: bold;
}

/* HOME PAGE STYLES*/

.gigs {
    list-style: none;
}

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    border-radius: 8px;
}

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.gigs > li .date .day {
    background: #e8e8e8;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

.gigs > li .details .artist {
   font-weight: bold;
   display: block;
}

.gigs > li .details .genre {
    font-size: 15px
}